*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/*ESTILO GENERAL---------------------------------------------------------------------------------------*/
body{
    padding: 0px;
    font-family: 'Cormorant Garamond', serif;
    font-family: 'Merriweather', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'PT Serif', serif;

}
#pantalla{
    width: 100%;
    height: auto;
    position: relative;
    float: left;
}
#contenedor{
    width: 1170px;
    height: auto;
    position: relative;
    margin: 0px auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: aqua;
}
header{
    width: 100%;
   
    background-color: blueviolet;

}
footer{
    width: 100%;
    background-color: aliceblue;

}
/*ESTILO INDEX------------------------------------------------------------------------------------------*/
/* ver como hacer sticky el header y nav */

/*ESTILO CONTACTO---------------------------------------------------------------------------------------*/
